/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--main-font), 'Arial', 'sans-serif';
  font-variation-settings: 'wght' var(--main-text-font-weight);
  font-size: var(--main-text-font-size);
}

.header {
  font-family: var(--accent-font), 'Courier', 'monospace';
  min-block-size: 323px;
  block-size: 100%;
  padding: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  margin-block: 100px;
  display: flex;
  gap: 20px;
}

.page__title {
  font-size: var(--page-title-font-size);
}

.page__subtitle {
  font-size: var(--page-subtitle-font-size);
  text-transform: uppercase;
  text-wrap: nowrap;
  text-align: center;
}

.page__section {
  inline-size: var(--page-section-inline-size);
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  display: flex;
  align-items: start;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--main-text-font-size);
  text-align: start;
  padding: 3px 10px;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__buttons-container {
  align-self: end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  display: flex;
}

.button {
  background-color: transparent;
}

.card__icon-button {
  outline: none;
  border: 1px solid transparent;
}

.card__like-button {
  border: 2px solid #000;
  font-family: var(--accent-font), 'Courier', 'monospace';
  padding: 12.5px 37px;
  font-size: 14px;
}