/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --main-text-font-size: 18px;
  --main-text-font-weight: 400;
  --title-font-weight: 700;
  --page-section-inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);;
  --page-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --page-subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --card-font-size: 18px;
}

@media(width <= 375px) {
  :root {
    --page-section-inline-size: 100%;
  }
}